<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494627254798-0l80ib10t19e75sdn99mnt4k9mtodmjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494627254798-0l80ib10t19e75sdn99mnt4k9mtodmjo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>494627254798-rmo1hf6gb11s5qkp2gldofhkvmvcfj2a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAde6UZDzN1iPYWzT0ltzsVSk64RP2Uckw</string>
	<key>GCM_SENDER_ID</key>
	<string>494627254798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alarmApp</string>
	<key>PROJECT_ID</key>
	<string>alarmapp-efe74</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmapp-efe74.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494627254798:ios:6afd64d7328f77d6c8025f</string>
</dict>
</plist>